<h1>Editing Planchas Sublimacion Producto</h1>

<%= render 'form', planchas_sublimacion_producto: @planchas_sublimacion_producto %>

<%= link_to 'Show', @planchas_sublimacion_producto %> |
<%= link_to 'Back', planchas_sublimacion_productos_path %>
