<h1>Editing Insumos Serigrafia Producto</h1>

<%= render 'form', insumos_serigrafia_producto: @insumos_serigrafia_producto %>

<%= link_to 'Show', @insumos_serigrafia_producto %> |
<%= link_to 'Back', insumos_serigrafia_productos_path %>
