<h1>Editing Tinta Sublimacion Producto</h1>

<%= render 'form', tinta_sublimacion_producto: @tinta_sublimacion_producto %>

<%= link_to 'Show', @tinta_sublimacion_producto %> |
<%= link_to 'Back', tinta_sublimacion_productos_path %>
