<h1>Editing Insumos Sublimacion Producto</h1>

<%= render 'form', insumos_sublimacion_producto: @insumos_sublimacion_producto %>

<%= link_to 'Show', @insumos_sublimacion_producto %> |
<%= link_to 'Back', insumos_sublimacion_productos_path %>
